.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  background-color: black;
  border-radius: 15px;
  padding: 10px;
  max-width: 511px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 3px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 50px;
  column-gap: 3px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.resetDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.reset {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(4, 4, 4, 0.405);
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.score {
  font-weight: bold;
  font-size: 40px;
}

.stopwatch {
  /* margin: 50px auto; */
  text-align: center;
}

.stopwatch #display {
  font-size: 30px;
  font-weight: bold;
  color: #111111;
  padding: 10px;
  /* margin-bottom: 24px; */
}

.stopwatch button {
  font-size: 16px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.stopwatch button {
  /* margin: 20px; */
  border: none;
  /* padding: 10px 30px; */
  cursor: pointer;
  color: #fff;
}

.stopwatch #alt-btns {
  background-color: green;
}

.stopwatch #reset {
  background-color: red;
}
