.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  background-color: #2196f3;
  padding: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 50px;
}
.header {
  display: flex;
  justify-content: center;
  /* margin-left: auto;
  margin-right: auto; */
}
.resetDiv {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.reset {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(4, 4, 4, 0.405);
  color: black;
  font-size: 30px;
  font-weight: bold;
}
