.rubik-2048 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #faf8ef;
  /* display: flex;
  justify-content: center; */
}

.grid-container {
  /* display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  background-color: black;
  border-radius: 15px;
  padding: 10px;
  max-width: 511px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 3px; */
  padding: 0.5rem;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr; */
  gap: 0.5rem;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  width: 447px;
  height: 447px;
  /* background-color: #bbada0; */
  background-color: #9d8975;

  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@media screen and (max-width: 480px) {
  .grid-container {
    width: 100vw;
    height: 100vw;
  }
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  height: 50px;
  column-gap: 3px; */
  /* width: 75px;
  height: 75px;
  margin: 7px; */
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: #eee4da;
  /* color: #afa192; */
  /* color: #756452; */
  font-weight: bold;
  text-align: center;
  font-size: 35px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .gridItem_square4 { */
/* width: 100px; */
/* height: 100px; */
/* margin: 5px; */
/* font-size: 48px; */
/* } */
/* .gridItem_square5 { */
/* width: 75px;
  height: 75px;
  margin: 7px; */
/* width: 80px; */
/* height: 75px; */
/* margin: 4px; */
/* font-size: 48px; */
/* } */
/* .gridItem_square6 { */
/* width: 65px; */
/* height: 65px; */
/* margin: 4px; */
/* font-size: 38px; */
/* } */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  margin: auto;
  background-color: #eae7d9;
  margin-top: 30px;
  border-radius: 8px;
}
.resetDiv {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.reset {
  border-radius: 5px;
  background-color: inherit;
  color: #988876;
  font-size: 24px;
  font-weight: bold;
  border: none;
}
.reset:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 2px solid #988876;
}
.undo {
  margin: 10px;
}

.score {
  width: 150px;
  background-color: #eae7d9;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #988876;
  border-radius: 8px;
}

.stopwatch {
  text-align: center;
}

.stopwatch #display {
  font-size: 30px;
  font-weight: bold;
  color: #988876;
  padding: 17px;
  width: auto;
  background-color: #eae7d9;
  border-radius: 8px;
}
